.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;

  .paginationItem {
    display: flex;
    button {
      border: none;
      background: transparent;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      overflow: hidden;
      color: rgb(0, 0, 0);

      &:hover {
        background-color: rgba(159, 159, 159, 0.295);
        cursor: pointer;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &[aria-current="page"] {
      button {
        background-color: rgba(159, 159, 159, 0.295);
        font-weight: 700;
        // text-decoration: underline;
      }
    }

    .arrowButton {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }

  .dots {
    line-height: 34px;
    margin: 5px 10px;
  }

  .paginationSelector {
    background-color: rgba(159, 159, 159, 0.295);
    border: none;
    border-right: 10px solid transparent;
    border-radius: 25px 25px;
    outline: none;
    padding: 5px 0px 5px 10px;
    margin-left: 10px;
    font-weight: bold;
  }
  
}
